* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@media (max-width: 420px) {

    #imageLogo {
        width: 72px;
        height: 40px;
    }
  }

  @media screen and (min-width:600px ) and (max-width:800px) {
    #main_wrapper_nav {
      width: 100%;
      position: fixed;
      z-index: 100;
    }
  }
  
  #main_wrapper_nav {
    width: 100%;
  }
.mynav {
    padding:16px;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.menu-item {
    font-size: 1.3em;
    margin-right: 12px;
    width: 96px;
}

.nav-link {
    cursor: pointer;
}

.menu-item:hover {
    border-bottom: 4px solid grey;
    color : grey;
}

.menu-item-active {
    font-size: 1.3em;
    margin-right: 10px;
    width: 96px;
}

.menu-item-active {
    border-bottom: 4px solid black;
    color : black;
}

.menu-item-active:hover {
    border-bottom: 4px solid black;
    color : black;
}

.active {
    color:black;
}

.non-active {
    color:gray;
}

#contactus {
    background-color: rgba(251, 171, 24, 1);
    color:white;
    border-radius: 32px;
    width: 146px;
    padding: 12px;
    margin-left: 8px;
    font-weight: 700;
}

.nav-item {
    font-size: 18px;
}

    .hamburger-menu {
    display: none; /* Initially hidden */
    cursor: pointer;
  }
  
  .hamburger-menu span {
    display: block;
    width: 30px; /* Width of the menu lines */
    height: 3px; /* Height of the menu lines */
    margin-bottom: 5px; /* Space between the menu lines */
    background-color: #333; /* Color of the menu lines */
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger-menu span:last-child {
    margin-bottom: 0; /* Removes the margin from the last line */
  }
  
  /* Show the hamburger menu when the screen width is 600px or less */
  @media (max-width: 1000px) {
    .hamburger-menu {
      display: inline-block;
    }
  }
  
  #wrapper_list a {
    text-decoration: none;
  }

.navbar-nav a {
    text-decoration: none;
    padding:16px;
}

.navbar-nav a:nth-child(1):hover,
a:nth-child(2):hover,
a:nth-child(3):hover,
a:nth-child(4):hover,
a:nth-child(5):hover {
   color:gray;
   border-bottom: 3px solid black;
   padding-bottom: 13px;
}

.wrapper_vertical_link {
  position: fixed;
  top:100px;
  right: 0px;
  z-index: 100;
  width: 240px;
  height: auto;
  background-color: #F8F9FA;
  flex-direction: column;
  padding: 18px;
}

.wrapper_vertical_link a{
  display: flex;
  flex-direction: column;
  background-color: #F8F9FA;
}