* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}


@media only screen and (max-width: 420px) {
    .container-fluid {
      height:64px;
      flex-direction: row;
    }

    .hamburger-menu {
        display: inline-block;
      }

    #imageLogo {
        width: 72px;
        height: 40px;
    }
  }

.mynav {
    padding:16px;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.menu-item {
    font-size: 1.3em;
    margin-right: 12px;
    width: 96px;
}

.nav-link {
    cursor: pointer;
}

.menu-item:hover {
    border-bottom: 4px solid grey;
    color : grey;
}

.menu-item-active {
    font-size: 1.3em;
    margin-right: 10px;
    width: 96px;
}

.menu-item-active {
    border-bottom: 4px solid black;
    color : black;
}

.menu-item-active:hover {
    border-bottom: 4px solid black;
    color : black;
}

.active {
    color:black;
}

.non-active {
    color:grey;
}

#contactus {
    background-color: rgba(251, 171, 24, 1);
    color:white;
    border-radius: 32px;
    width: 146px;
    padding: 12px;
    margin-left: 8px;
    font-weight: 700;
}

.nav-item {
    font-size: 18px;
}

    .hamburger-menu {
    display: none; /* Initially hidden */
    cursor: pointer;
  }
  
  .hamburger-menu span {
    display: block;
    width: 30px; /* Width of the menu lines */
    height: 3px; /* Height of the menu lines */
    margin-bottom: 5px; /* Space between the menu lines */
    background-color: #333; /* Color of the menu lines */
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger-menu span:last-child {
    margin-bottom: 0; /* Removes the margin from the last line */
  }
  
  /* Show the hamburger menu when the screen width is 600px or less */
  @media (max-width: 600px) {
    .hamburger-menu {
      display: inline-block;
    }
  }
  