* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.mynav {
    padding:16px;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.menu-item {
    font-size: 1.3em;
    margin-right: 12px;
    width: 96px;
}

.nav-link {
    cursor: pointer;
}

.menu-item:hover {
    border-bottom: 4px solid grey;
    color : grey;
}

.menu-item-active {
    font-size: 1.3em;
    margin-right: 10px;
    width: 96px;
}

.menu-item-active {
    border-bottom: 4px solid black;
    color : black;
}

.menu-item {
    border-bottom: 4px solid black;
    color : black;
}

.menu-item-active:hover {
    border-bottom: 4px solid black;
    color : black;
}

.active {
    color:black;
}

.non-active {
    color:grey;
}

#contactus {
    background-color: rgba(251, 171, 24, 1);
    color:white;
    border-radius: 32px;
    width: 120px;
}

.nav-item {
    font-size: 18px;
}
