#title-h1 {
    text-align:left;
    margin-bottom:24px;
    font-size : 48px;
    font-weight: bold;
}

#title-span {
    font-size : 1.2em;
    text-align: left;
    font-size: 20px;
}

.wrapper-startProjectBtn {
    transform: translate(0, 0);
    transition: transform 0.2s ease-in-out;
}

.wrapper-startProjectBtn:hover {
    transform: translate(-10px, -10px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.wrapper-seeOurWorks {
    transform: translate(0, 0);
    transition: transform 0.2s ease-in-out;
}

.wrapper-seeOurWorks:hover {
    transform: translate(10px, -10px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

#see-our-works:hover {
    padding:8px;
    border-bottom: 1px solid black;
}