#wrapper-container {
    height: 980px;
}

.wrapper-reads{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
}

.wrapper-article-cards {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.type-article{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    padding:8px;
    cursor: pointer;
}


.rounded-orange{
    background-color:#FBAB18;
    color:white;
    border-radius: 32px;
}

#title-read {
    font-size: 36px;
    font-weight: 700;
}

