.footer {
    background: #242020;
    height: 520px;
    color: white;
}

.wrapper-left-footer {
    text-align: left;
}

#wrapper-text-right {
    font-size: 32px;
    font-weight: 700;
    color:white;
    text-align: left;
}

#wrapper-text-right > p {
    text-align: left;
}

#lets-talk-btn {
    display: flex;
    background-color: #FBAB18;
    color:white;
    width: 198px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 700;
    min-height: 56px;
    align-items: center;
    justify-content: center;
    transform: translate(0, 0);
    transition: transform 0.2s ease-in-out;
}

#lets-talk-btn:hover {
    transform: translate(-10px, -10px);
    transition: transform 0.2s ease-in-out;
}

#see-works-btn {
    display: flex;
    border : 1px solid white;
    width: 198px;
    color:white;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 700;
    min-height: 56px;
    align-items: center;
    justify-content: center;
    transform: translate(0, 0);
    transition: transform 0.2s ease-in-out;
}

#see-works-btn:hover{
    transform: translate(-10px, -10px);
    transition: transform 0.2s ease-in-out;
}

#img-arrow{
    padding-bottom: 5px;
}

.white-line {
    width: 100%;
    border : 1px solid white;
}

.sosmed {
    display: flex;
    justify-content: space-evenly;;
}

.sosmed > p {
    font-size: 16px;
}

#info-contact > p {
    font-size: 16px;
    text-align: left;
}