#wrapper-container {
    height: 980px;
}

.wrapper-reads{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
}

.wrapper-article-cards {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.type-article{
    padding: 16px;
}


#rounded-orange{
    background-color:#FBAB18;
    color:white;
    border-radius: 32px;
}

#title-read {
    font-size: 36px;
    font-weight: 700;
}

